*{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;   
}

h1{
    font-size:26px;
    background-color: white;
    text-align: center;
}

h2{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

h3{
    font-size: 18px;
    font-weight: bold;
    padding-top:15px;
}

legend{
    font-size: 16px;
    font-style:oblique;
    font-weight: bold;
}

label{
    font-weight: bold;
}

@media (min-width: 601px) {
    .h2-title-top {
        margin-top: 5%;
    }
}

@media (max-width: 600px) {
    .h2-title-top {
        margin-top: 20%;
    }
}